* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  background: #121212;
}

#__next {
  min-height: 100vh;
}
