* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: color(red a(90%));
  border-radius: 4px;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  background: color(#29d w(80%));
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
  font-size: 18px;
  text-align: center;
}

.header,
.footer {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.header {
  margin-bottom: 20px;
}

.footer {
  flex: 0 0 auto;
}
