@import '../public/static/css/variables.css';

.title {
  color: var(--white);
}

.button {
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  outline: none;
  background: none;
  color: var(--white);
  font-weight: bold;
  font-size: $sizeSm;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
  }
}
